.board-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board {
  width: 10rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
}

.status {
  padding: 0.5rem;
  text-align: center;
}

.reset {
  cursor: pointer;
}